<!DOCTYPE html>

<hmlt>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>

    <body>
    {{> header}}
    <p>Some page title</p>

    {{> footer}}
    </body>
</hmlt>