<!DOCTYPE html>

<hmlt>
    <head>
        <meta charset="UTF-8">
        <title>Website</title>
    </head>

    <body>
    {{> header}}
    <p>About description will go here</p>

    {{> footer}}
    </body>
</hmlt>