<!DOCTYPE html>

<hmlt>
    <head>
        <meta charset="UTF-8">
        <title>Website</title>
    </head>

    <body>
    {{> header}}

    <p>Project page text would go here</p>

    {{> footer}}
    </body>
</hmlt>